:root {
    --gray: #4a4f53;
    --gray-op: #2e2e2ea9;
    --gray-light: #74858c;
    --white: #fff;
    --white-op: rgba(255, 255, 255, 0.301);
    --black-op: rgba(0, 0, 0, 0.767);
}

::placeholder {
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

.main {
    height: fit-content;
    background-image: url("Images/wallpaperflare.com_wallpaper.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80vw;
    margin-top: 60px;
    padding: 16px 32px;
    background-color: var(--gray-op);
    backdrop-filter: blur(8px);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
}

#search {
    width: 100%;
    height: 36px;
    padding-left: 40px;
    padding-right: 8px;
    background-color: var(--gray-light);
    border: none;
    font-size: 16px;
    font-weight: 600;
    outline-color: var(--white);
    border-radius: 4px;
}

#search-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 36px;
    top: 20px;
}

#exp {
    font-size: 20px;
    margin-top: 24px;
}

.section {
    margin: 12px 0 0 0;
    padding: 8px;
    width: 100%;
    background-color: var(--white-op);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.info-top {
    display: flex;
    gap: 12px;
    align-items: center;
}

.section-icon {
    width: 32px;
    height: 32px;
}

.short {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.short .company{
    font-size: 16px;
}

.short .job-date {
    font-size: 12px;
    font-weight: 400;
}

.arrow {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    cursor: pointer;
}

.section-cont {
    padding: 0 52px 16px 52px;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--white-op);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: none;
}

#edu {
    margin-top: 40px;
    font-size: 20px;
}

.lang-tech-box {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lang,  .tech {
    width: 48%;
}

.list {
    padding: 0 4px 4px 4px;
    list-style-type: none;
}

.list li {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
}

.list li:hover {
    background-color: var(--white);
    color: var(--gray);
    cursor: pointer;
}

.last {
    width: 80vw;
    height: 60px;
    padding: 16px 100px;
    margin-bottom: 16px;
    background-color: var(--black-op);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pic-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pic-title h2 {
    font-weight: 500;
    font-size: 20px;
}

#bill-gates, #power {
    width: 40px;
    height: 40px;
}

#power {
    cursor: pointer;
}

.footer {
    margin-top: 16px;
    width: 100%;
    padding: 8px 32px;
    background-color: var(--black-op);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-box {
    height: 100%;
    display: flex;
    gap: 12px;
}

.contact-imgs {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.time {
    display: flex;
}

@media (max-width: 500px) {
    .lang,  .tech {
        width: 100%;
    }

    .tech {
        margin-top: 40px;
    }

    .last {
        padding: 16px 50px;
    }
}